@font-face {
    font-family: 'Blacker Pro Cond Dis Lt';
    src: url('BlackerProCondDis-Lt.woff2') format('woff2'),
        url('BlackerProCondDis-Lt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blacker Pro Cond Tx Md';
    src: url('BlackerProCondTx-MdIt.woff2') format('woff2'),
        url('BlackerProCondTx-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Blacker Pro Dis Md';
    src: url('BlackerProDis-MdIt.woff2') format('woff2'),
        url('BlackerProDis-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Blacker Pro Tit Rg';
    src: url('BlackerProTit-Bd.woff2') format('woff2'),
        url('BlackerProTit-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blacker Pro Tx Lt';
    src: url('BlackerProTx-Lt.woff2') format('woff2'),
        url('BlackerProTx-Lt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

